 
 <div style="padding-top: 10px;padding-left: 870px;">
  <button  type="button" (click)="markAsMatched()" class="btn btn-outline-info">Mark it as Matched</button>
</div>
 <div style="height: 100%; padding-top: 10px; box-sizing: border-box;">
  <ag-grid-angular
    #agGrid
    style="width: 1000px; height: 600px;"
    id="myGrid"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableSorting]="true"
    [enableFilter]="true"
    [pagination]="true"
    (gridReady)="onGridReady($event)"
    [rowSelection]="rowSelection"
    [rowData]="rowData"
  ></ag-grid-angular>
</div>  

<!-- name: {{name}} -->

