<body>
    <div class="container">
        <div class="form-group">
            <label for="fname">Frame Name:</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter Frame Name" name="fname"
                [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label for="pwd">DonorRequestID:</label>
            <input type="id" class="form-control" id="id" placeholder="Enter Donor Request ID" name="id" [(ngModel)]="donRequestId">
        </div>
       
        <div class="form-group">
            <div class="dropdown">
                <label>Frame Size:</label>
                <select  [(ngModel)]="size">
                    <option value="XS">XS</option>      
                  <option value="S">S</option>
                  <option value="L">L</option>
                  <option value="M">M</option>
                  <option value="XL">XL</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <label>Frame Color:</label>
                <select  [(ngModel)]="color">
                    <option value="black">Black</option>
                  <option value="silver">Silver</option>
                  <option value="brown">Brown</option>
                  <option value="gold">Gold</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <label>Material: </label>
                <select  [(ngModel)]="material">
                    <option value="metal">Metal</option>
             <option value="plastic">Plastic</option>
             <option value="fiber">Fiber</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <label>Gender: </label>
                <select  [(ngModel)]="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>
  
        <div class="form-group">
            <label for="comment">Description:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Enter Description" [(ngModel)]="remarks"></textarea>
        </div>

        <div id="table-scroll">
            <table class="table">
                <thead class="thead-light">
                    <!-- <label   class="col-form-label">Frame Details</label> -->
                    <tr>
                        <button (click)="onAddFrame()" *ngIf="addForm.get('frameRequests')">Frame Details</button>
                    </tr>
                    <tr>
                        <th>Frame Name</th>
                        <th>User Req ID</th>
                        <th>Gender</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Material</th>
                        <th>Description</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let frame of frames">
                        <td>{{ frame.name }}</td>
                        <td>{{ frame.donRequestId }}</td>
                        <td>{{ frame.gender }}</td>
                        <td>{{ frame.size }}</td>
                        <td>{{ frame.color }}</td>
                        <td>{{ frame.material }}</td>
                        <td>{{ frame.remarks }}</td>
                        <td>
                            <button (click)="onRemoveFrame(frame)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" (click)="validateFrames()">Validate</button>
        </div>
    </div>
</body>