<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
 <img src="assets/img/Baabbee_logo.jpg" >  
    </a>
  </div>
  <!-- menu -->
  <div class="navbar-menu is-active">
    <div class="navbar-start has-text-weight-semibold">
      <a class="navbar-item" routerLink="../home">HOME</a> 
      <a class="navbar-item"  routerLink="../donor-opts">DONATE FRAMES</a> 
      <a class="navbar-item" routerLink="../beneficiary">NEED FRAMES</a> 
       <a class="navbar-item" routerLink="../admin">ADMIN LOGIN</a> 
    </div>
  </div>
</nav>