
 <div class ="donate">
<div  style="margin-bottom: 5px; margin-top: 5px; margin-right: 10px;text-align: right;">
  <button  type="button" (click)="markAsProcessed()" class="btn btn-outline-info">Mark it as Processed</button>
</div>
<div>
  <ag-grid-angular
    #agGrid
    id="myGrid"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableSorting]="true"
    [enableFilter]="true"
    [pagination]="true"
    [enableCellTextSelection]="true"
    [rowSelection]="rowSelection"
    [getRowHeight]="getRowHeight"
    [domLayout]="domLayout"
    (gridReady)="onGridReady($event)"
    [rowData]="rowData"
  ></ag-grid-angular>
</div>
 </div>
