.center {
  text-align: center;

 
}

.message{

position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  
}

.hero {
  background-image: url('/assets/img/frames.jpg') !important;
  background-repeat: no-repeat;
background-position: right 10px top 0px;
background-color:#e6e6e6;
}