<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
<div class="container">
    <h4> Kindly send the Eyeframes via the following mail address.</h4>
<!-- </div> -->
<!-- <div class="container"> -->
    <form>
            <input type="radio" name="location" value="baabee" (change)=" onRadioClick()"> Baabee Main office<br>
            
            <input type="radio" name="location" value="nearby" (change)=" onRadioClick()"> Nearby Location <i class="fa fa-map-marker"></i><br>
        
        </form>
    </div>
<!-- <div class="message" >
    <h5>Thank you for donating eyeframes to Baabee organization</h5>
</div> -->
    </div>
</section>
<custom-modal id="custom-modal-1">
    <h4>{{modalText}}</h4>
    <div style="text-align:center;">
        <button (click)="closeModal('custom-modal-1');">Close</button>
    </div>
  </custom-modal>



