<div class="container">
    <div class="form-group">
        <label for="sno">S.NO:</label>
        <input type="name" class="form-control" id="sno" placeholder="Enter S.No" name="sno">
    </div>
    <div class="form-group">
        <label for="pwd">UserRequestID:</label>
        <input type="id" class="form-control" id="id" placeholder="Enter ID" name="id">
    </div>
    <div class="form-group">
        <label for="pwd">Name:</label>
        <input type="name" class="form-control" id="name" placeholder="Enter Name" name="name">
    </div>
    <div class="form-group">
        <label for="pwd">Address:</label>
        <input type="name" class="form-control" id="address" placeholder="Enter Address" name="address">
    </div>
    <div class="form-group">
        <label for="pwd">No of frames:</label>
        <input type="id" class="form-control" id="no" placeholder="Enter frames needed" name="no">
    </div>
    <div class="form-group">
        <label for="pwd">Envelope Size:</label>
        <input type="id" class="form-control" id="size" placeholder="Enter size" name="size">
    </div>
    <button type="submit" class="btn btn-primary">Send Prepaid Mail</button>
</div>