.form-list-radio {
    left: 35%;
    top: 0%;
    position: absolute;
}
/* .hero {
    background-image: url('/assets/img/canyon.jpg') !important;
    background-size: cover;
    background-position: center center;
  } */