  #table-scroll {
    overflow:auto;  
    margin-top:20px;
  }  
  .div {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: auto;
  } 
  .block {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
.outer{display:inline-block;}
.one {width:80px; height:80px;}
.two {width:80px; height:80px;}
.three {width:80px; height:100px;}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.hero  {
background-color:#e6e6e6;
}
.container {
  background-color:#e6e6e6;
}
.table {
  background-color:lightblue;
}
.control-label {font-weight:bold; color:#593b2a}