#table-scroll {
    height:200px;
    overflow:auto;  
    margin-top:20px;
  }
  .div {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: auto;
  }
  .block {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
.outer{display:inline-block;}
.one {width:80px; height:80px;}
.two {width:80px; height:80px;}
.three {width:80px; height:100px;}

.form-group .control-label:after {
  content:"*";
  color:red;
}