<body>

    <div class="container">
        <div class="form-group">
            <label for="fname">Frame Name:</label>
            <input type="name" class="form-control" id="fname" placeholder="Enter name" name="fname">
        </div>
        <div class="form-group">
            <label for="pwd">UserRequestID:</label>
            <input type="id" class="form-control" id="id" placeholder="Enter ID" name="id">
        </div>
        <div class="form-group">
        <div class="dropdown">
            <select class="btn btn-primary dropdown-toggle" >
                <option value="">--Size--</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="dropdown">
            <select class="btn btn-primary dropdown-toggle" >
                <option value="">--color--</option>
                <option value="small">Black</option>
                <option value="medium">Silver</option>
                <option value="large">Gold</option>
                <option value="large">Brown</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="dropdown">
            <select class="btn btn-primary dropdown-toggle" >
                <option value="">--Material--</option>
                <option value="small">Fiber</option>
                <option value="medium">Metal</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="dropdown">
            <select class="btn btn-primary dropdown-toggle" >
                <option value="">--Gender--</option>
                <option value="small">Male</option>
                <option value="medium">Female</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <label for="comment">Description:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">OK</button>

    </div>


</body>