.form-group.required .control-label:after {
    content:"*";
    color:red;
  }  
  form label {font-weight:bold; color:#593b2a}

  .hero {
    background-image: url('/assets/img/frames.jpg') !important;
    background-repeat: no-repeat;
background-position: right 10px top 0px;
background-color:#e6e6e6;
  }