<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
<div  class="col-md-12  text-center">
  <br><br>  
  <button class="btn btn-outline-dark" routerLink="../sendEnvelope" >Process Donation Request and Send Prepaid Envelope</button>
  <br><br>
  <button class="btn btn-outline-dark" routerLink="../receiveAndValidate">Receive and Validate frames</button>
  <br><br>
  <button class="btn btn-outline-dark" routerLink="../processFrame" >Process Frame Request</button>
  <br><br>
  <button class="btn btn-outline-dark" routerLink="../processDonation">Process Donation</button>
  </div>
  </div>
</section>
