<div>
  <ag-grid-angular
  style="boxSizing: border-box"
    #agGrid
    id="myGrid"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableSorting]="true"
    [enableFilter]="true"
    [pagination]="true"
    [suppressRowClickSelection]="true"
    [rowSelection]="rowSelection"
    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    [domLayout]="domLayout"
    [rowData]="rowData"
    [frameworkComponents]="frameworkComponents"
  ></ag-grid-angular>
</div>

